{% extends 'base_blog.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ blog.name_blog }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ blog.image | media_filter }}" class="card-img-top" alt="#"></img>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Содержание: {{ blog.description }}</li>
                        <li>Создан: {{ blog.created_at }}</li>
                        <li>Активен: {{ blog.is_active }}</li>
                    </ul>
                    <a href="{% url 'blog:update' blog.pk %}" class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                    <a href="{% url 'blog:delete' blog.pk %}" class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    <a href="{% url 'blog:home' %}" class="btn btn-lg btn-block btn-outline-secondary">Назад</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}