{% extends 'base_catalog.html' %}
{% load my_tags %}

{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'catalog:create_cat' %}" class="btn btn-lg btn-block btn-outline-primary mb-4">Добавить Категорию</a>
{% endif %}
<div class="row text-center">
    {% for category in categories %}
        <div class="col-3">
            <div class="card mb-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name_category }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'catalog:category' category.pk %}" class="btn btn-primary">Посмотреть</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}