{% extends 'base_catalog.html' %}
{% load my_tags %}

{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'catalog:create' %}" class="btn btn-lg btn-block btn-outline-primary mb-4">Добавить Продукт</a>
{% endif %}
<div class="row text-center">
    {% for product in products %}
        <div class="col-3">
            <div class="card mb-4" style="width: 18rem;">
                <img src="{{ product.image | media_filter }}" class="card-img-top" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name_product }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'catalog:product' product.pk %}" class="btn btn-primary">Посмотреть</a>
                            <a href="{% url 'catalog:update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                            <a href="{% url 'catalog:delete' product.pk %}" class="btn btn-danger">Удалить</a>
                        {% endif %}
                    </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}